<html dir='ltr' lang='en'><head><meta
      http-equiv='Content-Type'
      content='text/html; charset=UTF-8'
    />
    <title>{{title}}</title>
  </head>

  <body>
    <div
      style='background-color:rgb(255,255,255);border-radius:0.5rem;border-width:2px;border-color:rgb(107,114,128);box-shadow:0 0 #0000, 0 0 #0000, 0 10px 15px -3px rgb(0,0,0,0.1), 0 4px 6px -4px rgb(0,0,0,0.1);padding:1.5rem;color:rgb(55,65,81);margin:1.25rem'
    >
      <p>Olá
        <strong
          style='color:rgb(17,24,39);font-weight:700'
        >{{title}}</strong>!</p>
      <p>Seja bem-vindo ao
        <strong
          style='color:rgb(17,24,39);font-weight:700'
        >{{siteName}}</strong>!</p>
    </div>

  </body>
</html>
